/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("https://images.pexels.com/photos/6489736/pexels-photo-6489736.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: rgb(254, 255, 255);
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #f8f9fa;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #2cafbb;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}
@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 500px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }
}

/* chat open and close */
.chat-bar-open {
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 50px;
  }
  .chat-bar-close {
    display: none;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 50px;
  }
  .chat-bar-open .close,
  .chat-bar-close .close {
    background-color: #fff;
    width: 70px;
    cursor: pointer;
    height: 70px;
    padding: 15px;
    border-radius: 50%;
    border-style: none;
    vertical-align: middle;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  }
  .chat-bar-close .close {
    width: 56px;
    height: 56px;
    padding: 12px;
  }
  .chat-bar-open .close img {
    height: 40px;
  }
  .chat-bar-close .close i {
    font-size: 30px;
  }
  .chat-bar-open .close::after {
    position: absolute;
    content: "";
    top: 43px;
    left: 37px;
    transform: rotate(-51deg);
    border-left: 23px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
  }
  .chat-bar-close .close::after {
    position: absolute;
    content: "";
    top: 27px;
    left: 23px;
    transform: rotate(-55deg);
    border-left: 24px solid transparent;
    border-right: 29px solid transparent;
    border-top: 31px solid #fff;
  }
  
  /* chat window 1 */
  .chat-window {
    width: 332px;
    height: 280px;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    z-index: 9999999;
    position: fixed;
    bottom: 120px;
    right: 54px;
    display: none;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  }
  .hi-there {
    background-color: #7f8ac5;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
  }
  .hi-there .p1 {
    font-size: 20px;
  }
  .hi-there .p2 {
    font-size: 13px;
  }
  .chat-window .start-conversation {
    padding: 15px 24px;
  }
  .chat-window .start-conversation h1 {
    font-size: 15px;
  }
  .chat-window .start-conversation p {
    font-size: 12px;
  }
  .chat-window .start-conversation button {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 7px 30px;
    margin: 10px 0px;
    background-color: #13a884;
    color: white;
  }
  .chat-window .start-conversation button span {
    font-size: 14px;
  }
  .chat-window .start-conversation button i {
    font-size: 16px;
    position: relative;
    left: 6px;
    top: 3px;
  }
  
  /* chat window 2 */
  .chat-window2 {
    display: none;
    width: 332px;
    height: 434px;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    z-index: 9999999;
    position: fixed;
    bottom: 120px;
    right: 54px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  }
  .chat-window2 .hi-there .p2 {
    font-size: 12px;
  }
  .message-box {
    height: 316px;
    width: 100%;
    padding-right: 5px;
    overflow: auto;
  }
  .message-box .first-chat {
    width: 200px;
    float: right;
    background-color: #4c5aa1;
    padding: 10px;
    margin: 14px 0px;
    border-radius: 5px;
    color: white;
  }
  .message-box .first-chat p {
    font-size: 12px;
    overflow-wrap: break-word;
  }
  .message-box .first-chat .arrow {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 9px solid transparent;
    border-right: 9px solid #4c5aa1;
    border-top: 9px solid #4c5aa1;
    border-bottom: 9px solid transparent;
    right: -172px;
    bottom: -23px;
    position: relative;
    margin-top: -15px;
  }
  
  .message-box .second-chat {
    display: inline-block;
  }
  
  .message-box .second-chat .circle {
    background-color: #4c5aa1;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-right: 5px;
  }
  .message-box .second-chat #circle-mar {
    margin-top: 5px;
  }
  
  .message-box .second-chat p {
    font-size: 12px;
    overflow-wrap: break-word;
  }
  .message-box .second-chat p {
    width: 200px;
    float: left;
    background-color: #ecf1fb;
    padding: 12px;
    margin: 0px 5px;
    border-radius: 10px;
    color: #000;
  }
  .message-box .second-chat .arrow {
    content: "";
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-left: 9px solid #ecf1fb;
    border-top: 12px solid #ecf1fb;
    border-bottom: 9px solid transparent;
    margin-left: 40px;
    margin-top: -2%;
    display: inline-block;
  }
  
  .chat-window2 .input-box {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 30px;
    padding-bottom: 18px;
    border-top: 1px solid lightgray;
  }
  .chat-window2 .input-box .write-reply {
    float: left;
  }
  .chat-window2 .input-box .write-reply input[type="text"] {
    border: none;
    outline: none;
    font-size: 14px;
  }
  .chat-window2 .input-box .send-button {
    float: right;
    border: none;
    outline: none;
  }
  .chat-window2 .input-box .send-button button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  .chat-window2 .input-box .send-button button i {
    color: grey;
    font-size: 20px;
    font-weight: bold;
  }
  .chat-window2 .input-box .surveysparrow img {
    width: 15px;
    margin-bottom: -4px;
  }
  .chat-window2 .input-box .surveysparrow p {
    display: inline;
    font-size: 10px;
    color: #636262;
  }
  .chat-window2 .input-box .surveysparrow {
    position: relative;
    bottom: 28px;
    right: -65px;
  }
  
  /* RESPONSIVE */
  @media screen and (max-width: 396px) {
    .chat-window {
      right: 14px;
      bottom: 87px;
    }
    .hi-there {
      padding: 12px 30px;
    }
    .chat-window2 {
      right: 14px;
      bottom: 87px;
      height: 420px;
    }
    .chat-bar-open {
      bottom: 20px;
      right: 21px;
    }
    .chat-bar-close {
      bottom: 21px;
      right: 25px;
    }
    .message-box .second-chat .arrow {
    margin-left:41px;
    }
  }

